.main{
    height: 100%;
    object-fit: cover;
}

.container , .logo{
    padding : 1rem;
    height : 100px;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.logoText{
    font-weight: 600 !important;
    font-size: 20px !important;
    color : var(--primary)
}


@media screen and (max-width : 750px){
    .logo{
        display: none;
    }
}