.cardsContainer {
    display: flex;
    flex-direction: row; 
    gap: 16px; 
    overflow-x: auto; 
    scrollbar-width: none; 
  }
  
  .cardsContainer::-webkit-scrollbar {
    display: none; 
  }
  