.main{
    background-color: #fff;
    display: flex;
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding : 0rem 2rem; */
    padding-right: 2rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
}
.page{
    display: flex;
    text-align: start;
}
.menuIcon{
    display: none;
    cursor: pointer;
}
.datepicker{
   
    display: flex;
    flex-direction: row;
    gap: 2;
}
@media screen and (max-width : 750px){
    .main{
        background-color: #fff;
        display: flex;
        position: sticky;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding : 0rem 0.5rem;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    }
    .header{
        display: none;
    }
    .page{
        display: none;
        
    }
    .logo{
        display: none;
    }
    .menuIcon{
        display: block;
    }
    .datepicker{
        display: none;
    }
}