.main{
    /* position: relative;
    background-color: red; */
    /* display: flex;
    flex : 1; */
}

.flex{
    /* display: flex; */
    position: absolute;
    top : 1rem;
    right : 1rem;
    float: right;
   
}