
.sidebar {
    width: 15rem; 
    background-color: #fff;
   
    box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.05);
  
    padding: 1.25rem; 
    min-height: 100%;
  }
  
  .logo {
    padding-left: 1.5rem;
    font-size: 1.4rem; 
    font-weight: bold;
    color: #333;
  }
  
  .menu {
    list-style-type: none;
  }
  
  .menuItem {
    margin-bottom: 1rem; 
    
  }
  
  .menuItem a {
    text-decoration: none;
    color: #333;
    font-size: .9rem; 
    
    display: flex;
    align-items: center;
    
    padding: .5rem 1rem;
    border-radius: 0.5rem; 
    transition: background-color 0.3s ease;
  }
  
  .menuItem a:hover {
    background-color: #e0e4edcc;
  }
  
  .menuItem a.active {
    background-color: #e5e7eb;
    font-weight: bold;
    color: #4a4a4a;
  }


  .menuItem button {
    width: 100%;
    text-decoration: none;
    color: #333;
    font-size: .9rem; 
    
    display: flex;
    align-items: center;
    
    padding: .5rem 1rem;
    border-radius: 0.5rem; 
    transition: background-color 0.3s ease;
    border: none;
  }
  
  .menuItem button:hover {
    background-color: #c0c9dfcc;
  }
  
  .menuItem button.active {
    background-color: #e5e7eb;
    font-weight: bold;
    color: #4a4a4a;
  }

  /* @media screen and (max-width : 750px){
    .sidebar {
      width: 0px;
      display: none;
      padding: 0px;
    }
  
  } */
  
  
  
 
  

  